<template>
  <div>
      <h1>Week3 : Data and Databinding</h1>
      <hr />
      <DataBind/>
      <MethodView/>
  </div>
</template>

<script>
import DataBind from './components/Databinding.vue'
import MethodView from './components/Method.vue';
export default {
  name:'App',
    components: {
      DataBind,
      MethodView,
    },
}
</script>

<style>

</style>
